

.link-list {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: margin 0.5s ease-in;


}

.link-list a {
    color: white;
    text-decoration: none;
    text-size: 50px;
}




.choose-breakout-button{
    background-color: #0095dd;
    color: white;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 10px 30px;
    border-radius: 7px;
}

.choose-insect-button {
    background-color: #516dff;
    color: white;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 7px;
    padding: 10px 30px;
}

.choose-hangman-button{
    background-color: #34495e;
    color: white;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 7px;
    padding: 10px 30px;
}


.screen {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin 0.5s ease-in;
}

.screen.up {
    margin-top: 100vh;
}

h1 {
    line-height: 1.4;
}


.link-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding: 0;
}

.link-list li {
    margin: 10px;
}
